{% set classes = [
  'boxy',
  'boxy--' ~ paragraph.bundle|clean_class,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}  style="background-image: url({{ paragraph.field_background_image.entity.fileuri | image_style(content.field_background_image[0]['#image_style']) }});">
    {% block content %}

      <div class="paragraph__content">
        <div class="paragraph__content__inner">

          {# Begin - heading #}
          {% if paragraph.field_heading.value %}
            <div class="paragraph__heading">
              {{ content.field_heading }}
            </div>
          {% endif %}
          {# End - heading #}

          {# Begin - body #}
          {% if paragraph.field_body.value %}
            <div class="paragraph__body">
              {{ content.field_body }}
            </div>
          {% endif %}
          {# End - body #}

        </div>

        {# Begin - link #}
        {% if paragraph.field_link.value %}
          <div class="paragraph__link">
            {{ content.field_link }}
          </div>
        {% endif %}
        {# End - link #}

      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
